.SearchForm {
  padding: 24px 0;
  margin-bottom: 24px;
  border-bottom: 1px solid #eee;
  display: flex;

  &-container {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
  }

  &-field {
    flex-grow: 1;
    padding-right: 10px;
    width: percentage(1/3);
  }
}
